<div class="home-container">
  <!-- Sección PLAYAS -->
  <a routerLink="/playas" class="section-box text-decoration-none">
    <img src="assets/mar.jpg" alt="Playas" class="section-image" />
    <p class="section-title">Playas</p>
  </a>

  <!-- Sección ACTIVIDADES -->
  <a routerLink="/actividades" class="section-box text-decoration-none">
    <img src="assets/actividades.jpg" alt="Actividades" class="section-image" />
    <p class="section-title">Actividades</p>
  </a>

  <!-- Sección RECOMENDACIONES -->
  <a routerLink="/recomendaciones" class="section-box text-decoration-none">
    <img src="assets/recomendaciones.jpeg" alt="Recomendaciones" class="section-image" />
    <p class="section-title">Recomendaciones</p>
  </a>
</div>
